* {
    margin: 0px;
}

body {
    width: 100%;
    display: grid;
    grid-template-rows: 120px 40px 500px 100px 35px;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
    'sc'
    'ft'
}

header {
    grid-area: hd;
    background: darkkhaki;
}

nav{
    grid-area: nv;
    background: salmon;
}

main {
    grid-area: mn;
    background: darkkhaki;
}

#mainindex {
    height: 500px;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'sc1 sc2'
}

#mainsyskon {
    height: 500px;
    display: grid; 
    grid-template-columns: 25%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc3 sc4 sc5 sc6'
}

#mainforaldrar {
    height: 500px;
    display: grid; 
    grid-template-columns: 33%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc7 sc7 sc7'
    'sc8 sc9 sc10'
}

#mainaldre {
    height: 500px;
    display: grid; 
    grid-template-columns: 33%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc10 sc11 sc12'
}

#bottom {
    grid-area: sc;
    background: khaki;
}

footer {
    grid-area: ft;
    background: darkkhaki;
}

article {
    background: darksalmon;
    margin: 20px;
    border-radius: 5px;
}

#sofiabild {
    width: 350px;
    margin: 20px;
}

.klickbar {
    width: 75px;
    margin: 10px;
}

.syskonbild {
    width: 170px;
    margin: 10px;
}

.foraldrar {
    width: 100px;
    margin: 10px;
}

.foraldrabild {
    width: 50px;
    margin: 10px;
}

.aldrebild {
    width: 50px;
}

#sc1 {
    grid-area: sc1;
}

#sc2 {
    grid-area: sc2;
}

#sc3 {
    grid-area: sc3;
}

#sc4 {
    grid-area: sc4;
}

#sc5 {
    grid-area: sc5;
}

#sc6 {
    grid-area: sc6;
}

#sc7 {
    grid-area: sc7;
    display: flex;
}

#sc8 {
    grid-area: sc8;
}

#sc9 {
    grid-area: sc9;
}

#sc10 {
    grid-area: sc10;
}

#sc11 {
    grid-area: sc11;
}

#sc12 {
    grid-area: sc12;
}