* {
    margin: 0px;
}

body {
    width: 100%;
    display: grid;
    grid-template-rows: 120px 40px 500px 100px 35px;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
    'sc'
    'ft'
}

header {
    grid-area: hd;
    background: darkkhaki;
}

nav{
    grid-area: nv;
    background: salmon;
}

main {
    grid-area: mn;
    background: darkkhaki;
}

#mainindex {
    height: 500px;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'sc1 sc2'
}

#mainsyskon {
    height: 500px;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc1 sc2'
}

#mainforaldrar {
    height: 500px;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc1 sc2'
}

#mainaldre {
    height: 500px;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-areas: 
    'sc1 sc2'
}

#bottom {
    grid-area: sc;
    background: khaki;
}

footer {
    grid-area: ft;
    background: darkkhaki;
}

article {
    background: darksalmon;
    margin: 20px;
    border-radius: 5px;
}

#sofiabild {
    width: 200px;
}

#sc1 {
    grid-area: sc1;
}

#sc2 {
    grid-area: sc2;
}