* {
    margin: 0px;
}

body {
    width: 100vw;
    display: grid;
    grid-template-rows: 120px 40px 500px 100px 35px;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
    'sc'
    'ft'
}

header {
    grid-area: hd;
    background: darkkhaki;
}

nav{
    grid-area: nv;
    background: salmon;
}

main {
    grid-area: mn;
    background: darkkhaki;
}

#mainindex {
    height: auto;
    display: grid; 
    grid-template-areas: 
    'im1 art1'
    'art2 art3'
}

section {
    grid-area: sc;
    background: salmon;
}

footer {
    grid-area: ft;
    background: darkkhaki;
}

article {
    background: darksalmon;
}

#sofiabild {
    grid-area: im1;
}

#art1 {
    grid-area: art1;
}

#art2 {
    grid-area: art2;
}

#art3 {
    grid-area: art3;
}

